<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CALProgressViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4BD385E1CFDF2D200D67D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4BD38771CFDF2D200D67D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4BD38821CFDF2D200D67D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
